# Data Cleaning.ipynb

### Jupyter Notebook created to do the Part 2 of the project. This .ipynb file will do the data cleaning and handle missing/null values.

## Importing the Required Libraries

#### Pandas : Pandas is the only library imported here because we only need to read the .csv file and do the data cleaning.

In [16]:
import pandas as pd

## Importing the CSV File

In [17]:
df = pd.read_csv("D:\Autonomous Driving Deep Learning Project\Datasets & Problem Statement\Part 2\Tesla - Deaths.csv")
df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla Driver,Tesla Occupant,Other Vehicle,...,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO,Unnamed: 16,Unnamed: 17,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,294.0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230118162813/ht...,NaN,NaN,NaN,NaN,NaN
1,293.0,2022.0,1/7/2023,Canada,-,Tesla crashes,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230109041434/ht...,NaN,Taren Singh Lal,NaN,NaN,NaN
2,292.0,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230107232745/ht...,NaN,NaN,NaN,NaN,NaN
3,291.0,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,NaN,NaN,NaN,NaN,NaN
4,290.0,2022.0,12/19/2022,Canada,-,Tesla crashes into storefront,1.0,-,-,-,...,-,-,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,NaN,NaN,NaN,NaN,NaN

## Basic Info of the Dataset

In [18]:
df.shape
df.info()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 24 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Case #                                                                294 non-null    float64
 1   Year                                                                  294 non-null    float64
 2   Date                                                                  294 non-null    str
 3    Country                                                              294 non-null    str
 4    State                                                                294 non-null    str
 5    Description                                                          295 non-null    str
 6    Deaths                                                               299 non-null    float64
 7    Tesla Driver                                                         294 non-null    str
 8    Tesla Occupant                                                       290 non-null    str
 9    Other Vehicle                                                        295 non-null    str
 10   Cyclists / Peds                                                      296 non-null    str
 11   TSLA+Cycl / Peds                                                     297 non-null    str
 12   Model                                                                296 non-null    str
 13   Autopilot Claimed                                                    281 non-null    str
 14   Verified Tesla Autopilot Deaths                                      297 non-null    str
 15   Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO   296 non-null    str
 16  Unnamed: 16                                                           292 non-null    str
 17  Unnamed: 17                                                           289 non-null    str
 18   Source                                                               297 non-null    str
 19   Note                                                                 9 non-null      str
 20   Deceased 1                                                           87 non-null     str
 21   Deceased 2                                                           17 non-null     str
 22   Deceased 3                                                           4 non-null      str
 23   Deceased 4                                                           0 non-null      float64
dtypes: float64(4), str(20)
memory usage: 57.7 KB

Case #                                                                   13
Year                                                                     13
Date                                                                     13
 Country                                                                 13
 State                                                                   13
 Description                                                             12
 Deaths                                                                   8
 Tesla Driver                                                            13
 Tesla Occupant                                                          17
 Other Vehicle                                                           12
 Cyclists / Peds                                                         11
 TSLA+Cycl / Peds                                                        10
 Model                                                                   11
 Autopilot Claimed                                                       26
 Verified Tesla Autopilot Deaths                                         10
 Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO      11
Unnamed: 16                                                              15
Unnamed: 17                                                              18
 Source                                                                  10
 Note                                                                   298
 Deceased 1                                                             220
 Deceased 2                                                             290
 Deceased 3                                                             303
 Deceased 4                                                             307
dtype: int64

## Naming the Unnamed Columns

In [19]:
df = df.rename(columns={"Unnamed: 16": "Link","Unnamed: 17": "News Link"})
df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla Driver,Tesla Occupant,Other Vehicle,...,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO,Link,News Link,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,294.0,2022.0,1/17/2023,USA,CA,Tesla crashes into back of semi,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230118162813/ht...,NaN,NaN,NaN,NaN,NaN
1,293.0,2022.0,1/7/2023,Canada,-,Tesla crashes,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230109041434/ht...,NaN,Taren Singh Lal,NaN,NaN,NaN
2,292.0,2022.0,1/7/2023,USA,WA,"Tesla hits pole, catches on fire",1.0,-,1,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20230107232745/ht...,NaN,NaN,NaN,NaN,NaN
3,291.0,2022.0,12/22/2022,USA,GA,Tesla crashes and burns,1.0,1,-,-,...,-,-,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,https://web.archive.org/web/20221222203930/ht...,NaN,NaN,NaN,NaN,NaN
4,290.0,2022.0,12/19/2022,Canada,-,Tesla crashes into storefront,1.0,-,-,-,...,-,-,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,https://web.archive.org/web/20221223203725/ht...,NaN,NaN,NaN,NaN,NaN

## Removing Fully Empty Rows

In [20]:
df = df.dropna(how='all')
df.info

<bound method DataFrame.info of      Case #    Year        Date  Country   State   \
0     294.0  2022.0   1/17/2023      USA       CA
1     293.0  2022.0    1/7/2023   Canada        -
2     292.0  2022.0    1/7/2023      USA       WA
3     291.0  2022.0  12/22/2022      USA       GA
4     290.0  2022.0  12/19/2022   Canada        -
..      ...     ...         ...       ...     ...
298     NaN     NaN         NaN       NaN     NaN
299     NaN     NaN         NaN       NaN     NaN
300     NaN     NaN         NaN       NaN     NaN
301     NaN     NaN         NaN       NaN     NaN
306     NaN     NaN         NaN       NaN     NaN

                                Description    Deaths   Tesla Driver   \
0           Tesla crashes into back of semi        1.0              1
1                             Tesla crashes        1.0              1
2          Tesla hits pole, catches on fire        1.0             -
3                   Tesla crashes and burns        1.0              1
4             Tesla crashes into storefront        1.0             -
..                                       ...       ...            ...
298                                      NaN       NaN            NaN
299                                      NaN       NaN            NaN
300                                      NaN       3.0              6
301                                      NaN    2013.0           2014
306   Note: AutoPilot released Oct 14, 2015        NaN            NaN

     Tesla Occupant   Other Vehicle   ...  Verified Tesla Autopilot Deaths   \
0                 -               -   ...                                -
1                 -               -   ...                                -
2                  1              -   ...                                -
3                 -               -   ...                                -
4                 -               -   ...                                -
..               ...             ...  ...                               ...
298              NaN             NaN  ...                               118
299              NaN             NaN  ...                              2022
300                5              16  ...                                75
301             2015            2016  ...                              2021
306              NaN             NaN  ...                               NaN

     Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO   \
0                                                   -
1                                                   -
2                                                   -
3                                                   -
4                                                   -
..                                                 ...
298                                                NaN
299                                                NaN
300                                                NaN
301                                                NaN
306                                                NaN

                                                  Link  \
0     https://web.archive.org/web/20221222203930/ht...
1     https://web.archive.org/web/20221222203930/ht...
2     https://web.archive.org/web/20221222203930/ht...
3     https://web.archive.org/web/20221222203930/ht...
4     https://web.archive.org/web/20221223203725/ht...
..                                                 ...
298                                                NaN
299                                                NaN
300                                                NaN
301                                                NaN
306                                                NaN

                                             News Link  \
0     https://web.archive.org/web/20221222203930/ht...
1     https://web.archive.org/web/20221222203930/ht...
2     https://web.archive.org/web/20221222203930/ht...
3     https://web.archive.org/web/20221222203930/ht...
4     https://web.archive.org/web/20221223203725/ht...
..                                                 ...
298                                                NaN
299                                                NaN
300                                                NaN
301                                                NaN
306                                                NaN

                                               Source   Note   \
0     https://web.archive.org/web/20230118162813/ht...    NaN
1     https://web.archive.org/web/20230109041434/ht...    NaN
2     https://web.archive.org/web/20230107232745/ht...    NaN
3     https://web.archive.org/web/20221222203930/ht...    NaN
4     https://web.archive.org/web/20221223203725/ht...    NaN
..                                                 ...    ...
298                                                NaN    NaN
299                                                NaN    NaN
300                                                NaN    NaN
301                                                NaN    NaN
306                                                NaN    NaN

           Deceased 1   Deceased 2   Deceased 3   Deceased 4
0                  NaN          NaN          NaN          NaN
1     Taren Singh Lal           NaN          NaN          NaN
2                  NaN          NaN          NaN          NaN
3                  NaN          NaN          NaN          NaN
4                  NaN          NaN          NaN          NaN
..                 ...          ...          ...          ...
298                NaN          NaN          NaN          NaN
299                NaN          NaN          NaN          NaN
300                NaN          NaN          NaN          NaN
301                NaN          NaN          NaN          NaN
306                NaN          NaN          NaN          NaN

[302 rows x 24 columns]>

## Converting the Date Column into a single format

In [21]:
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

## Saving the Clean CSV File

In [22]:
df.to_csv("../data/tesla_cleaned.csv", index=False)